<h2>Point Pertandingan</h2>
<br>

<table style="width: 60%;">
    <thead>
        <tr>
            <th style="width:20%"></th>
            <th style="width:13%;text-align:right ;">Nama Team</th>
            <th style="width:13%;text-align:right ;">Point Team</th>
        </tr>
    </thead>
    <tbody>
        <th style="width:20%"></th>
        <th style="width:13%;text-align:right ;">Real Madrid</th>
        <th style="width:13%;text-align:right ;">15</th>
    </tbody>
    <tbody>
        <th style="width:20%"></th>
        <th style="width:13%;text-align:right ;">Barcalona</th>
        <th style="width:13%;text-align:right ;">10</th>
    </tbody>
    <tbody>
        <th style="width:20%"></th>
        <th style="width:13%;text-align:right ;">Juventus</th>
        <th style="width:13%;text-align:right ;">16</th>
    </tbody>
</table>
