<h2>Jadwal Pertandingan Bola</h2>
<br>

<table style="width: 60%;">
    <thead>
        <tr>
            <th style="width:30%"></th>
            <th style="width:13%;text-align:right ;">Team</th>
            <th style="width:13%;text-align:right ;">Jadwal</th>
        </tr>
    </thead>
    <tbody>
        <th style="width:30%"></th>
        <th style="width:13%;text-align:right ;">Real Madrid VS Barcalona</th>
        <th style="width:13%;text-align:right ;">15 Desember 2021</th>

    </tbody>
    <tbody>
        <th style="width:30%"></th>
        <th style="width:13%;text-align:right ;">Juventus VS Barcalona</th>
        <th style="width:13%;text-align:right ;">16 Desember 2021</th>
    </tbody>
</table>
